<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="~{/include/common_head}"></th:block>

    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/product/product_common.css}">
    <link rel="stylesheet" th:href="@{/css/product/style_product_cart.css}"/>

    <!-- ui 아이콘 -->
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
</head>
<body>
<div id="bannerTop" class="on">
    <article th:each="banner : ${banners}" th:if="${banner.location == 'MAIN1'}" th:style="'background: ' + ${banner.background}">
        <a th:href="${banner.link}">
            <img th:src="@{'/uploads/config/' + ${banner.img}}" alt="랜덤 배너 이미지"/>
        </a>
    </article>
</div>
<div id="wrapper">
    <header th:replace="~{/include/header.html}"></header>
    <main class="mainIn cf">
        <aside th:replace="~{/main_aside.html}"></aside>
        <!-- 장바구니 영역 -->
        <section class="cart-section body-section">
            <div class="breadcrumb">
                <a href="#">Home</a> &gt;
                <a href="#">장바구니</a> &gt;
                <a href="#" class="location">장바구니</a>
            </div>
            <!-- 장바구니 제목 -->
            <h2 class="section-title">장바구니</h2>

            <!-- 장바구니 상품목록 -->
            <div class="cart-">
                <table class="cart-table">
                    <colgroup>
                        <col style="width: 3%" />
                        <col style="width: 41%" />
                        <col style="width: 8%" />
                        <col style="width: 3%" />
                        <col style="width: 10%" />
                        <col style="width: 6%" />
                        <col style="width: 8%" />
                        <col style="width: 10%" />
                        <col style="width: 10%" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox" name="cartItems" id="selectAll" onclick="toggleSelectAll(this)"></th>
                        <th>상품정보</th>
                        <th>옵션</th>
                        <th>수량</th>
                        <th>판매가</th>
                        <th>할인</th>
                        <th>포인트</th>
                        <th>배송비</th>
                        <th>총합</th>
<!--                        <th>선택</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cart, i:${cartList}" th:id="'cart-item-' + ${cart.cartId}">
                        <td><input type="checkbox" class="checkboxes" th:value="${cart.cartId}" onclick="toggleCheckbox(this)"></td>
                        <td class="product-info">
                            <img th:src="@{'/uploads/product/' + ${cart.productVariants.product.getImg1()}}" alt="상품 사진" class="product-image">
                            <div class="product-details">
                                <p class="product-name">[[${cart.productVariants.product.name}]]</p>
                            </div>
                        </td>
                        <td>
                            <span id="variant-options" class="variant-options">
                                <ul class="horizontal-list">
                                    <li th:each="entry : ${cart.productVariants.options.entrySet()}">
                                        <ul>
                                            <li th:each="value : ${entry.value}" th:text="${value}"></li>
                                        </ul>
                                    </li>
                                </ul>
                            </span>
                        </td>
                        <td>
                            <div class="quantity">
                                <input type="number" id="quantity-[[${cart.cartId}]]" th:value="${cart.count}" onchange="updateTotal([[${cart.cartId}]])" />
                            </div>
                        </td>
                        <td id="price-[[${cart.cartId}]]">[[${#numbers.formatInteger(cart.productVariants.product.price, 3, 'COMMA') + '원'}]]</td>
                        <td>[[${cart.productVariants.product.discount}]]%</td>
                        <td>[[${cart.productVariants.product.point}]]p</td>
                        <td  id="delivery-[[${cart.cartId}]]" th:class="${cart.productVariants.product.deliveryFee == 0} ? 'shipping-info'"
                            th:text="${cart.productVariants.product.deliveryFee == 0 ? '무료배송' : #numbers.formatInteger(cart.productVariants.product.deliveryFee, 3, 'COMMA') + '원'}">
                        </td>
                        <td>
                            <div class="price-info">
                                <!--<del>[[${#numbers.formatInteger(cart.productVariants.product.price, 3, 'COMMA') + '원'}]]</del>-->
                                <span class="discount-price" id="total-[[${cart.cartId}]]" th:text="${#numbers.formatInteger(
                                                ((cart.productVariants.product.price
                                                - (cart.productVariants.product.price * cart.productVariants.product.discount / 100))
                                                * cart.count)
                                                + (cart.productVariants.product.deliveryFee != 0 ? cart.productVariants.product.deliveryFee : 0),
                                                1, 'COMMA')}"></span>원
                            </div>
                        </td>
                    </tr>
                    <!-- 장바구니가 비어있을 때 메시지 -->
                    <tr th:if="${#lists.isEmpty(cartList)}" style="text-align: center;">
                        <td colspan="9">
                            장바구니가 비어 있습니다.
                        </td>
                    </tr>

                    <!-- 장바구니가 비어있을 때 메시지(새로고침 하기 전) -->
                    <tr id="empty-cart-message" style="display: none; text-align: center;">
                        <td colspan="9">
                            장바구니가 비어 있습니다.
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <!-- 선택지 영역 -->
            <div class="cart-options">
                <button class="delete-selected" onclick="deleteSelectedItems()">선택상품 삭제</button>
            </div>

            <!-- 결제 정보 -->
            <aside class="checkout-summary">
                <div class="checkout-details">
                    <div class="checkout-row">
                        <div class="checkout-column">
                            <p>총 판매가</p>
                            <span>33,000원</span>
                        </div>
                        <p class ="minus">-</p>
                        <div class="checkout-column">
                            <p>총 할인금액</p>
                            <span class="discount">9,240원</span>
                        </div>
                        <p class="plus">+</p>
                        <div class="checkout-column">
                            <p>배송비</p>
                            <span>0원</span>
                        </div>
                    </div>
                    <div class="checkout-row total">
                        <p>총 결제예상금액</p>
                        <span>23,760원</span>
                    </div>
                    <p class="shipping-notice">배송비는 쿠폰할인금액에 따라 변경될 수 있습니다.</p>
                </div>
                <div class="checkout-buttons">
                    <button class="checkout-btn outlined">선택주문(1)</button>
                    <a th:href="@{/product/order}" class="checkout-btn filled">전체주문</a>
                </div>
            </aside>
        </section>
    </main>
    <footer th:replace="~{/include/footer.html}"></footer>
    <button type="button" id="top">상단이동</button>
</div>
</body>

<script>

    // 전체 선택 체크박스 클릭 시 전체 선택
    function toggleSelectAll(selectAllCheckbox) {
        // 체크박스를 모두 불러옴
        const checkboxes = document.querySelectorAll(".checkboxes")
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = selectAllCheckbox.checked;
        });
        updateTotals();
    }

    // 개별 체크박스 클릭 시
    function toggleCheckbox(checkbox) {
        const checkboxes = document.querySelectorAll(".checkboxes");
        const selectAllCheckbox = document.getElementById("selectAll");
        const allChecked = Array.from(checkboxes).every(function(cb) {
            return cb.checked;
        });
        selectAllCheckbox.checked = allChecked;
        updateTotals();
    }


    // 수량 변경시 합계 계산
    function updateTotal(cartId) {
        const quantity = document.getElementById(`quantity-${cartId}`).value || 0;
        console.log('quantity : ' + quantity);
        const price = document.getElementById(`price-${cartId}`).innerText.replace(/[^0-9]/g, '') || 0;
        console.log('price : ' + price);
        const discount = document.querySelector(`#cart-item-${cartId} .discount`).innerText || 0; // int로 변환
        console.log('discount : ' + discount);
        const deliveryFee = document.getElementById(`delivery-${cartId}`)?.innerText.replace(/[^0-9]/g, '') || '0' || 0;
        console.log('deliveryFee : ' + deliveryFee);

        // 할인 후 가격 계산
        const discountPrice = price - (price * (discount / 100));

        // 총합 계산
        const total = (discountPrice * quantity) + (deliveryFee > 0 ? deliveryFee : 0);

        // 총합 업데이트
        document.getElementById(`total-${cartId}`).innerText = total.toLocaleString() + '원';
    }



    // 장바구니 항목 삭제
    function deleteSelectedItems(){
        const selectItems = Array.from(document.querySelectorAll(".checkboxes:checked")).map(cb => cb.value);
        if(selectItems.length == 0) {
            alert("삭제할 항목을 선택하세요.");
            return;
        }

        // AJAX 요청 보내서 체크된 항목 삭제
        fetch('/lotteon/product/cart/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ cartItems: selectItems})
        })

            .then(response => {
                if(response.ok) {
                    // 성공적으로 삭제 후 알림 표시
                    alert("정상적으로 삭제되었습니다.");
                    // 성공적으로 삭제된 체크박스의 항목을 DOM에서 제거
                    selectItems.forEach(itemId => {
                        const row = document.getElementById(`cart-item-${itemId}`);
                        if (row) {
                            row.remove(); // DOM에서 해당 항목을 제거
                        }
                    });

                    // 장바구니가 비어 있는지 확인
                    const remainingItems = document.querySelectorAll(".checkboxes").length;
                    const emptyCartMessage = document.getElementById("empty-cart-message");
                    if (remainingItems === 0) {
                        emptyCartMessage.style.display = "table-row";   // 메시지 표시
                        // 전체 선택 체크박스 체크 해제
                        document.getElementById("selectAll").checked = false; // 체크 해제
                    } else {
                        emptyCartMessage.style.display = "none"; // 메시지 숨김
                    }

                } else {
                    alert("삭제 중 오류가 발생했습니다.");
                }
            })
            .catch(error => {
                console.error("Error :" + error);
                alert("삭제 중 오류가 발생했습니다.");
            })
    }

    document.addEventListener("DOMContentLoaded", function (){



    });





</script>

</html>

