<!DOCTYPE html>
<!-- xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.thymeleaf.org/"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" -->

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <th:block th:replace="~{/include/common_head}"></th:block>
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    <link rel="stylesheet" th:href="@{/css/product/product_common.css}"/>
    <link rel="stylesheet" th:href="@{/css/product/style_product_order.css}"/>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/order.js}" defer></script>
</head>
<body>
<div id="bannerTop" class="on">
    <article th:each="banner : ${banners}" th:if="${banner.location == 'MAIN1'}" th:style="'background: ' + ${banner.background}">
        <a th:href="${banner.link}">
            <img th:src="@{'/uploads/config/' + ${banner.img}}" alt="랜덤 배너 이미지"/>
        </a>
    </article>
</div>
<div id="wrapper">
    <header th:replace="~{/include/header.html}"></header>

    <main class="mainIn cf">
        <aside th:replace="~{/main_aside.html}"></aside>


        <!-- 주문하기 영역 -->
        <section class="cart-section body-section">

            <!-- Breadcrumb -->
            <div class="breadcrumb">
                <a th:href="@{/index}">Home</a> &gt;
                <a th:href="@{/product/cart}">장바구니</a> &gt;
                <a th:href="@{/product/order}">주문하기</a>
                <section class="order-section">
            </div>
            <!-- 주문하기 제목 -->
            <h2 class="section-title">주문하기</h2>
            <!-- 주문 상품목록 -->
            <div class="cart-">
                <table class="cart-table">
                    <thead>
                    <tr>
                        <th>상품정보</th>
                        <th>색상</th>
                        <th>사이즈</th>
                        <th>판매가</th>
                        <th>수량</th>
                        <th>구매가</th>
                        <th>배송정보</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr th:each="product : ${product}">
                        <td class="product-info">
                            <img th:src="@{'/uploads/product/' + ${product.img1}}" alt="상품 이미지">
                            <div class="product-details" th:text="${product.name}"></div>
                        </td>
                        <td>
                            <div class="product-option1">
                                <select name="color" class="option1">
                                    <option th:each="color : ${product.options['색상']}"
                                            th:value="${color}"
                                            th:text="${color}">
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="product-option2">
                                <select name="size" class="option2">
                                    <option th:each="size : ${product.options['사이즈']}"
                                            th:value="${size}"
                                            th:text="${size}">
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td th:text="${product.price}"></td>
                        <td>
                            <div class="quantity">
                                <p>1</p>
                            </div>
                        </td>
                        <td>
                            <div class="price-info">
                                <del th:text="${product.price}"></del>
                                <span class="discount-price" th:text="${product.price}-(${product.price/product.discount})"></span>
                            </div>
                        </td>
                        <td class="shipping-info" th:text="${product.deliveryFee != null ? product.deliveryFee : '무료배송'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div> <!--cart--->

            <div class="forDiv">
                <section class="order-right">
                    <aside class="coupon-section">

                        <table class="form-group">
                            <th><p class="tableTitle">할인 정보</p></th>
                            <tr>
                                <th>현재포인트 : </th>
                                <td>
                                    <span id="nowPoint">53000p</span>
                                </td>
                            </tr>
                            <tr>
                                <th>사용포인트 : </th>
                                <td>
                                    <div style="display: flex;">
                                        <input type="number" id="addPoint" step="5000" style="width: 80%;">
                                        <button id="allPoint">전체<br>사용</button>
                                    </div>
                                    <p style="text-align: center; font-size: 10px" >포인트 5000p 미만 사용불가</p>
                                </td>
                            </tr>
                            <tr>
                                <th>쿠폰선택</th>
                                <td>
                                    <select name="etc" id="condition" >
                                        <option value="condition">쿠폰 사용 안함</option>
                                        <option value="condition">[나이키] 20000원 쿠폰</option>
                                        <option value="condition">[나이키] 10000원 쿠폰</option>
                                        <option value="condition">[나이키] 5000원 쿠폰</option>
                                        <option value="condition">[나이키] 3000원 쿠폰</option>
                                        <option value="condition">[나이키] 2000원 쿠폰</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </aside>
                    <!-- 최종 결제 금액-->
                    <aside class="checkout-summary">
                        <div class="checkout-details">
                            <table class="checkout-row">
                                <th><p class="tableTitle">최종 결제</p></th>
                                <tr class="checkout-column" >
                                    <th>총 판매가</th>
                                    <td id="all__sold" th:text="${product.price} + '원'"></td>
                                </tr>
                                <tr class="checkout-column">
                                    <th>총 할인금액</th>
                                    <td class="discount" id="all__discount" th:text="${product.price}-(${product.price/product.discount}) + '원'"></td>
                                </tr>
                                <tr class="checkout-column">
                                    <th>배송비</th>
                                    <td id="all__deliveryfee" th:text="${product.deliveryFee} + '원'"></td>
                                </tr>
                                <tr class="checkout-price">
                                    <th>총 결제 금액</th>
                                    <td id="all__totalPrice">원</td>
                                </tr>

                            </table>
                        </div>
                            <a type="submit" id="checkoutBtn" class="checkout-btn">결제하기</a>
                    </aside>
                </section> <!-- order-right -->
            </div>
            <!-- 배송 정보 -->
            <section class = "order-left">
                <div class="shipping-section">
                    <form>
                        <table class="shipping-table">
                            <th> <p class="tableTitle">배송 정보</p></th>
                            <tr>
                                <th>수령자</th>
                                <td>
                                    <input type=text id="recip__name" placeholder="수령자를 작성해 주세요"/>
<!--                                    이부분 추후에 개발 여부 확인 <button type="button">동일인</button>-->
                                </td>
                            </tr>
                            <tr>
                                <th>휴대폰</th>
                                <td>
                                    <input type=text  id="phone__number" placeholder="수령인 휴대폰번호를 작성해 주세요" maxlength="13"/>
                                </td>
                            </tr>
                            <tr>
                                <th>우편번호</th>
                                <td>
                                    <input type="text" id="postcode" name="postcode" required readonly>
                                    <button type="button" id="findPostcodeBtn">검색</button>
                                </td>
                            </tr>
                            <tr>
                                <th>기본주소</th>
                                <td>
                                    <input type="text" id="address" name="address" required readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>상세주소</th>
                                <td>
                                    <input type="text" id="detailAddress" name="detailAddress" required>
                                </td>
                            </tr>
                            <tr>
                                <th>배송 메시지</th>
                                <td>
                                    <textarea class="delivery__text"></textarea>
                                </td>
                            </tr>

                            <th><p class="tableTitle">결제 정보</p></th>
                            <tr>
                                <th>결제방법</th>
                                <td class ="radio">
                                    <label>
                                        <input type="radio" name="paymentMethod" th:checked="${deliveryfee == 2000}"/> 카카오페이
                                    </label>
                                    <label>
                                        <input type="radio" name="paymentMethod" th:checked="${deliveryfee == 3000}"/> 토스
                                    </label>
                                    <label>
                                        <input type="radio" name="paymentMethod" th:checked="${deliveryfee == 5000}"/> 페이코</br>
                                    </label>
                                    <label>
                                        <input type="radio" name="paymentMethod" th:checked="${deliveryfee == 0}"/> 무통장입금
                                    </label>
                                    <label>
                                        <input type="radio" name="paymentMethod" th:checked="${deliveryfee == 0}"/> 네이버페이
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div><!-- shipping-section-->
            </section><!-- order-left -->

        </section>
        </section>
    </main>
    <footer th:replace="~{/include/footer.html}"></footer>
</div>
</body>
</html>
