<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>공지사항 보기</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/cs/cs_common.css}"/>
    <link rel="stylesheet" th:href="@{/css/cs/cs_list.css}"/>
</head>
<body>
<header th:replace="~{/include/header.html}"></header>


<main>
    <th:block th:replace="~{/cs/aside/aside.html}"></th:block>
    <section id="section_wrapper">
        <div id="category">
            <p>전체<br><span class="subtitle">공지사항 전체 내용입니다.</span></p>
            <div class="breadcrumb">
                <a th:href="@{/cs/index}">Home</a> > <a th:href="@{/cs/notice/list}">공지사항</a> > <a th:href="@{/cs/notice/list}" class="location">전체</a>
            </div>
        </div>
        <table>
            <tbody>
            <tr id="notice_title">
                <td>
                    <span th:text="${board.cate.name}"></span><span th:text="${board.title}"> </span><br>
                    <div>
                     <span th:text= "${board.regDate}" class="r-date">2022.11.30</span>
                    </div>
                </td>
            </tr>
            <tr class="content">
                <td th:text="${board.content}"></td>
            </tr>

            </tbody>
        </table>
        <a th:href="@{/cs/notice/list}">
            <button id="toList">목록</button>
        </a>
    </section>
</main>
<footer th:replace="~{/include/footer.html}"></footer>
</body>
</html>
