<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주묻는질문 목록</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}"/>
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_article_list.css}"/>

</head>
<body>
<header th:replace="~{/admin/include/header.html}"></header>
<main>
    <div id="wrapper">
        <aside th:replace="~{/admin/include/aside.html}"></aside>
        <!--section-->
        <section>
            <div class="breadcrumb">
                <a href="#">Home</a> > <a href="#">고객센터</a> > <a href="#" class="location">자주묻는질문</a>
            </div>
            <h3>자주묻는질문 목록</h3>
            <div class="form">
                <div class="table-controls">
                    <select class="dropdown">
                        <option>1차 선택</option>
                        <option>회원</option>
                        <option>상품</option>
                    </select>
                    <select class="dropdown">
                        <option>2차 선택</option>
                        <option>가입</option>
                        <option>탈퇴</option>
                    </select>
                </div>
                <table class="inquiry-table">
                    <colgroup>
                        <col style="width: 2%">
                        <col style="width: 7%">
                        <col style="width: 9%">
                        <col style="width: 10%">
                        <col style="width: 29%">
                        <col style="width: 7%">
                        <col style="width: 6%">
                        <col style="width: 15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="chkbox"></th>
                        <th>번호</th>
                        <th>1차유형</th>
                        <th>2차유형</th>
                        <th>제목</th>
                        <th>조회</th>
                        <th>날짜</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody id="boardListBody">
                    <tr th:each="board : ${boardList}">
                        <td><input type="checkbox" class="chkbox"></td>
                        <td th:text="${board.boardId}"></td>
                        <td th:text="${board.cate.parent.name}"></td>
                        <td th:text="${board.cate.boardCateId}"></td>
                        <td class="title">
                            <a th:href="@{/admin/cs/faq/view/{id}(id=${board.boardId})}" th:text="${board.title}"></a>
                        </td>
                        <td th:text="${board.user.uid}">chh**</td>
                        <td th:text="${board.regDate}">00.00.00</td>
                        <td>
                            <a th:href="@{/admin/cs/faq/modify}" class="edit-btn">수정</a>
                            <button class="deletebtn">삭제</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="buttons">
                    <button class="delete-btn" disabled>선택 삭제</button>
                    <a th:href="@{/admin/cs/faq/write}" class="write-btn">작성하기</a>
                </div>
            </div>
        </section>
        <!-- /Section -->
    </div>
</main>
<footer th:replace="~{/admin/include/footer.html}"></footer>
</body>
</html>
