<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<header>
    <link rel="stylesheet" th:href="@{/css/include/header.css}"/>
    <div class ="headerWrapper">

        <!-- 로그인, 회원가입, 주문배송, 고객센터 -->
        <div class="util innerContent">
            <div class="accountArea">
                <ul>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/member/login}">로그인</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()">
                        <a th:href="@{/member/join}">회원가입</a>
                    </li>
                    <li>
                        <a th:href="@{/my/order}">주문배송</a>
                    </li>
                    <li>
                        <a th:href="@{/cs/index}">고객센터</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 메인 헤더 -->
        <div class="main">
            <div class="main innerContent">
                <h1 class="logoArea">
                    <a th:href="@{/index}">
                        <img src="https://static.lotteon.com/p/common/foCommon/assets/img/logo_lotte-on@2x.png" alt="LOTTE ON">
                    </a>
                </h1>
            </div><!-- main -->
        </div><!--headerWrapper-->
</header>