<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>자주묻는질문 목록</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/cs/cs_common.css}"/>
  <link rel="stylesheet" th:href="@{/css/cs/cs_list.css}"/>
</head>
<body>
<header th:replace="~{/include/header.html}"></header>


<main>
  <th:block th:replace="~{/cs/aside/aside_faq.html}"></th:block>

      <table>
        <thead>
        <tr>

          <th>유형</th>
          <th>내용</th>
          <th>작성자</th>
          <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${boards}">
          <td th:text="${board.cate.name}"></td>
          <td class="title">
            <a th:href="@{/admin/cs/notice/view/{id}(id=${board.boardId})}" th:text="${board.title}"></a>
          </td>
          <td th:text="${board.user.uid}"></td>
          <td th:text="${board.regDate}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
<footer th:replace="~{/include/footer.html}"></footer>
</body>
</html>
