<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기본설정</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}"/>
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_config_banner.css}"/>

</head>
<body>
<header th:replace="~{/admin/include/header.html}"></header>
<main>
    <div id="wrapper">
        <aside th:replace="~{/admin/include/aside.html}"></aside>
        <!--section-->
        <section>
            <div class="breadcrumb">
                <a href="#">Home</a> > <a href="#">환경설정</a> > <a href="#" class="location">배너관리</a>
            </div>
            <h3>배너관리</h3>
            <div class="form">
                <div class="tab-container">
                    <a th:href="@{/admin/config/banner/MAIN1}" class="tab"
                       th:classappend="${locationNow == 'MAIN1'} ? 'active' : ''">메인상단 배너</a>
                    <a th:href="@{/admin/config/banner/MAIN2}" class="tab"
                       th:classappend="${locationNow == 'MAIN2'} ? 'active' : ''">메인슬라이더 배너</a>
                    <a th:href="@{/admin/config/banner/PRODUCT1}" class="tab"
                       th:classappend="${locationNow == 'PRODUCT1'} ? 'active' : ''">상품 상세보기 배너</a>
                    <a th:href="@{/admin/config/banner/MEMBER1}" class="tab"
                       th:classappend="${locationNow == 'MEMBER1'} ? 'active' : ''">회원로그인 배너 </a>
                    <a th:href="@{/admin/config/banner/MY1}" class="tab"
                       th:classappend="${locationNow == 'MY1'} ? 'active' : ''">마이페이지 배너</a>
                </div>
                <div class="version-header">
                    <th:block th:switch="${locationNow}">
                        <h4 th:case="'MAIN1'">메인상단 배너</h4>
                        <h4 th:case="'MAIN2'">메인슬라이더 배너</h4>
                        <h4 th:case="'PRODUCT1'">상품 상세보기 배너</h4>
                        <h4 th:case="'MEMBER1'">회원로그인 배너</h4>
                        <h4 th:case="'MY1'">마이페이지 배너</h4>
                        <h4 th:case="*">기타 배너</h4>
                    </th:block>
                </div>
                <table class="inquiry-table">
                    <colgroup>
                        <col style="width: 1%">
                        <col style="width: 7%">
                        <col style="width: 9%">
                        <col style="width: 14%">
                        <col style="width: 10%">
                        <col style="width: 8%">
                        <col style="width: 8%">
                        <col style="width: 7%">
                        <col style="width: 7%">
                        <col style="width: 10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><input type="checkbox" class="chkbox"></th>
                        <th>번호</th>
                        <th>이미지</th>
                        <th>배너정보</th>
                        <th>배너위치</th>
                        <th>시작일</th>
                        <th>종료일</th>
                        <th>시작시간</th>
                        <th>종료시간</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="banner, index : ${configBanners}">
                        <td><input type="checkbox" class="chkbox"></td>
                        <td>[[${index.index+1}]]</td>
                        <td><a th:href="@{'/uploads/' + ${banner.img}}"><img th:src="@{'/uploads/' + ${banner.img}}" alt="배너 사진" class="product-image"></a></td>
                        <td><span>[[${banner.name}]]</span>
                            <span>[[${banner.size}]]</span>
                            <span>[[${banner.background}]]</span>
                            <span><a th:href="${banner.link}">[[${banner.link}]]</a></span></td>
                        <td>[[${banner.location}]]</td>
                        <td>[[${banner.sDate}]]</td>
                        <td>[[${banner.eDate}]]</td>
                        <td>[[${banner.sTime}]]</td>
                        <td>[[${banner.eTime}]]</td>
                        <td>
                            <th:block th:if="${banner.state} == 0">
                                <a href="#" class="edit-btn">활성</a>
                            </th:block>
                            <th:blcok th:unless="${banner.state} == 0">
                                <button class="deletebtn">비활성</button>
                            </th:blcok>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="buttons">
                    <button class="delete-btn" disabled>선택 삭제</button>
                    <a href="#" id="openRegisterModalBtn" class="write-btn">배너등록</a>
                </div>

            </div>
        </section>
        <!-- /Section -->
    </div>
</main>

<!-- 버전 등록 모달 -->
<div id="versionRegisterModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>배너등록</h4>
            <span id="registerModalClose" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form id="versionRegisterForm" action="/lotteon/admin/config/banner" method="post" enctype="multipart/form-data">
                <table class="modal-table">
                    <tr>
                        <th>배너이름</th>
                        <td><input type="text" id="bannerName" placeholder="배너명을 입력하세요" name="name" required></td>
                    </tr>
                    <tr>
                        <th>배너크기</th>
                        <td><input type="text" id="bannerSize" placeholder="배너크기를 입력하세요" name="size" required></td>
                    </tr>
                    <tr>
                        <th>배경색</th>
                        <td><input type="text" id="bannerBackground" placeholder="배너배경색을 입력하세요" name="background" required></td>
                    </tr>
                    <tr>
                        <th>배너링크</th>
                        <td><input type="text" id="bannerLink" placeholder="배너링크를 입력하세요" name="link" required></td>
                    </tr>
                    <tr>
                        <th>배너위치</th>
                        <td>
                            <select id="bannerLocation" class="dropdown" name="location">
                                <option>선택</option>
                                <option>MAIN1</option>
                                <option>MAIN2</option>
                                <option>PRODUCT1</option>
                                <option>MEMBER1</option>
                                <option>MY1</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>노출날짜</th>
                        <td>
                            <input type="date" id="startDate" class="date" name="sDate" required>
                            ~
                            <input type="date" id="endDate" class="date" name="eDate" required>
                        </td>
                    </tr>
                    <tr>
                        <th>노출시간</th>
                        <td>
                            <input type="time" id="startTime" class="date" name="sTime" required>
                            ~
                            <input type="time" id="endTime" class="date" name="eTime" required>
                        </td>
                    </tr>
                    <tr>
                        <th>배너파일</th>
                        <td><input type="file" id="bannerImg" name="bannerImg" /></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button id="registerConfirmBtn" class="confirm-btn">등록하기</button>
        </div>
    </div>
</div>

<footer th:replace="~{/admin/include/footer.html}"></footer>
</body>
</html>
<script>
    // 버전 등록 모달 동작
    document.addEventListener('DOMContentLoaded', function() {
        var registerModal = document.getElementById("versionRegisterModal");
        var registerBtn = document.getElementById("openRegisterModalBtn"); // 등록 버튼
        var registerCloseBtn = document.getElementById("registerModalClose"); // 등록 모달 닫기 버튼

        var confirmButton = document.getElementById("registerConfirmBtn");

        // 등록 버튼 클릭 시 모달 열기
        registerBtn.onclick = function() {
            registerModal.style.display = "block";
        };

        // 닫기 버튼(X) 클릭 시 모달 닫기
        registerCloseBtn.onclick = function() {
            registerModal.style.display = "none";
        };


        // 모달 외부 클릭 시 모달 닫기
        window.onclick = function(event) {
            if (event.target == registerModal) {
                registerModal.style.display = "none";
            }
        };

        // 등록 확인 버튼 클릭 시
        confirmButton.onclick = function() {
            const formData = new FormData();

            formData.append("name", document.getElementById("bannerName").value);
            formData.append("size", document.getElementById("bannerSize").value);
            formData.append("background", document.getElementById("bannerBackground").value);
            formData.append("link", document.getElementById("bannerLink").value);
            formData.append("location", document.getElementById("bannerLocation").value);
            formData.append("sDate", document.getElementById("startDate").value);
            formData.append("eDate", document.getElementById("endDate").value);
            formData.append("sTime", document.getElementById("startTime").value);
            formData.append("eTime", document.getElementById("endTime").value);

            const fileInput = document.getElementById("bannerImg");
            if (fileInput.files.length > 0) {
                formData.append("bannerImg", fileInput.files[0]);
            }
            // 빈칸 체크
            if (formData.get("name") &&
                formData.get("size") &&
                formData.get("background") &&
                formData.get("link") &&
                formData.get("location") &&
                formData.get("sDate") &&
                formData.get("eDate") &&
                formData.get("sTime") &&
                formData.get("eTime")) {


                console.log(formData.get("name"));
                console.log(formData.get("size"));
                console.log(formData.get("background"));
                console.log(formData.get("link"));
                console.log(formData.get("location"));
                console.log(formData.get("sDate"));
                console.log(formData.get("eDate"));
                console.log(formData.get("sTime"));
                console.log(formData.get("eTime"));

                fetch('/lotteon/admin/config/banner', {
                    method: 'POST',
                    body: formData
                })
                    .then(resp => resp.text())
                    .then(data => {
                        if (data.trim() === "success") {
                            alert("배너 등록 성공!");
                            const url = formData.get("location");
                            // 추가 작업: 예를 들어 모달 닫기 등
                            window.location.href = url;
                        } else {
                            alert("배너 등록 실패!");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });
            } else {
                alert("모든 필드를 입력해주세요.");
            }
        };
    });

</script>
