<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 회원 포인트</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}" />
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_member_point.css}" />
  </head>
  <body>
  <header th:replace="~{/admin/include/header.html}"></header>
    <main>
      <div id="wrapper">
        <aside th:replace="~{/admin/include/aside.html}"></aside>
        <!--section-->
        <section>
          <div class="breadcrumb">
            <a href="#">Home</a> > <a href="#">회원관리</a> >
            <a href="#" class="location">포인트관리</a>
          </div>
          <h3>포인트관리</h3>
          <div class="form">
            <div class="search-bar">
              <select id="search-category" class="dropdown">
                <option>아이디</option>
                <option>이름</option>
                <option>이메일</option>
                <option>휴대폰</option>
              </select>
              <input
                type="text"
                placeholder="키워드 입력"
                class="search-input"
              />
              <button class="search-btn">검색</button>
            </div>

            <table class="inquiry-table">
              <colgroup>
                <col style="width: 3%" />
                <col style="width: 4%" />
                <col style="width: 8%" />
                <col style="width: 6%" />
                <col style="width: 7%" />
                <col style="width: 7%" />
                <col style="width: 11%" />
                <col style="width: 9%" />
              </colgroup>
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" class="chkbox" style="width: 12px" />
                  </th>
                  <th>번호</th>
                  <th>아이디</th>
                  <th>이름</th>
                  <th>지급 포인트</th>
                  <th>누적 포인트</th>
                  <th>지급 내용</th>
                  <th>지급 날짜</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="point : ${points}">
                  <td><input type="checkbox" class="chkbox" style="width: 12px" /></td>
                  <td>1</td>
                  <td>[[${point.user.uid}]]</td>
                  <td>[[${point.user.memberInfo.name}]]</td>
                  <td>[[${point.point}]]</td>
                  <td>[[${point.presentPoint}]]</td>
                  <td>[[${point.pointName}]]</td>
                  <td>[[${point.pointDate}]]</td>
                </tr>
              </tbody>
            </table>
            <div class="buttons">
              <a href="#" id="openRegisterModalBtn" class="write-btn">선택삭제</a>
            </div>

            <div class="pagination">
              <button class="page-btn">이전</button>
              <button class="page-num">1</button>
              <button class="page-num">2</button>
              <button class="page-num">3</button>
              <button class="page-num">4</button>
              <button class="page-num">5</button>
              <button class="page-btn">다음</button>
            </div>
          </div>
        </section>
        <!-- /Section -->
      </div>
    </main>
  <footer th:replace="~{/admin/include/footer.html}"></footer>
  </body>
</html>
