<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
<html lang="ko"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품등록</title>

    <!--공통 css 부분-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_common.css}"/>
    <!--각 페이지(section) 개별 css-->
    <link rel="stylesheet" th:href="@{/css/admin/style_admin_product_register.css}"/>
    <script th:src="@{/js/my/product/product_register.js}" defer></script>
</head>
<body>
<header th:replace="~{/admin/include/header.html}"></header>
<main>
    <div id="wrapper">
        <aside th:replace="~{/admin/include/aside.html}"></aside>
        <!--section-->
        <section>
            <div class="breadcrumb">
                <a href="#">Home</a> > <a href="#">상품관리</a> > <a href="#" class="location">상품등록</a>
            </div>
            <h3>상품등록</h3>

            <div class="form">
                <div class="version-header">
                    <h4>상품분류</h4>
                    <p class="sub-title">1차, 2차 카테고리 기본분류는 반드시 선택하셔야 합니다.</p>
                </div>

                <div class="inquiry-section">
                    <table class="inquiry-table">
                        <tr>
                            <td class="label">1차 분류</td>
                            <td>
                                <select class="dropdown" id="category1">
                                    <option>1차분류 선택</option>
                                    <option>고객서비스</option>
                                    <option>이벤트 당첨</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">2차 분류</td>
                            <td>
                                <select class="dropdown" id="category2">
                                    <option>2차분류 선택</option>
                                    <option>고객서비스</option>
                                    <option>이벤트 당첨</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="version-header">
                    <h4>기본정보</h4>
                    <p class="sub-title">기본정보는 반드시 선택하셔야 합니다.</p>
                </div>

                <div class="inquiry-section">
                    <table class="inquiry-table">
                        <tr>
                            <td class="label">상품명</td>
                            <td>
                                <input type="text" name="prod_name" id="prod_name"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">기본설명</td>
                            <td>
                                <input type="text" name="prod_description" id="prod_description"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">제조사</td>
                            <td>
                                <input type="text" name="company" id="company"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">상품금액</td>
                            <td>
                                <input type="text" name="price" class="inputmini" id="price"/> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="label">할인율</td>
                            <td>
                                <input type="text" name="discount" class="inputmini" id="discount"/> %
                            </td>
                        </tr>
                        <tr>
                            <td class="label">포인트</td>
                            <td>
                                <input type="text" name="point" class="inputmini" id="point"/> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="label">재고수량</td>
                            <td>
                                <input type="text" name="stock" class="inputmini" id="stock"/> 개
                            </td>
                        </tr>
                        <tr>
                            <td class="label">배송비</td>
                            <td>
                                <input type="text" name="deliveryfee" class="inputmini" id="deliveryfee"/> 원
                            </td>
                        </tr>
                        <tr>
                            <td class="label">상품 이미지</td>
                            <td>
                                <div class="file-upload file">
                                    <input type="file" id="prod_img1" name="prod_img1"/>
                                    크기 190 x 190, 상품 목록에 출력될 이미지입니다.
                                </div>
                                <div class="file-upload file">
                                    <input type="file" id="prod_img2" name="prod_img2"/>
                                    크기 190 x 190, 상품 메인에 출력될 이미지입니다.
                                </div>
                                <div class="file-upload file">
                                    <input type="file" id="prod_img3" name="prod_img3"/>
                                    크기 190 x 190, 상품 상세에 출력될 이미지입니다.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">상품 상세정보</td>
                            <td>
                                <div class="file-upload">
                                    <input type="file" id="prod_detail" name="prod_detail"
                                           accept="image/*" onchange="previewImage(event)"/>
                                    크기 가로 940px, 높이 제약없음, 크기 최대 1MB
                                </div>
                            </td>
                        </tr>
                        <tr id="option_tr">
                            <td class="label">
                                상품 옵션 설정
                            </td>
                            <td>
                                <div id="option">
                                    <div>
                                        <span>옵션명 :</span>
                                        <input type="text" class="option-name" placeholder="옵션명을 입력하세요" required>
                                    </div>
                                    <div class="option-values">
                                        <span>옵션값 :</span>
                                        <div class="fake_input ">
                                            <input type="text" class="option-value-input input1"
                                                   placeholder="옵션값 입력 후 엔터" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" id="add-option">옵션 추가</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="version-header">
                    <h4>상품정보 제공고시</h4>
                    <p class="sub-title">[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록해야 되는 정보입니다.</p>
                </div>
                <div class="inquiry-section">
                    <table class="inquiry-table">
                        <tr>
                            <td class="label">상품상태</td>
                            <td>
                                <input type="text" name="prod_Detail_Condition" value="새상품" class="inputmini" id="prod_Detail_Condition"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">부가세 면세여부</td>
                            <td>
                                <input type="text" name="prod_Detail_duty" value="과세상품" class="inputmini" id="prod_Detail_duty"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">영수증 발행</td>
                            <td>
                                <input type="text" name="prod_Detail_receipt" value="발생가능 - 신용카드전표, 온라인현금영수증" id="prod_Detail_receipt"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">사업자구분</td>
                            <td>
                                <input type="text" name="prod_Detail_gubun" value="사업자판매자" id="prod_Detail_gubun"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">브랜드</td>
                            <td>
                                <input type="text" name="prod_Detail_brand" value="사업자판매자" id="prod_Detail_brand"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">원산지</td>
                            <td>
                                <input type="text" name="prod_Detail_COA" value="국내산" class="inputmini" id="prod_Detail_COA"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">제조자 / 수입국</td>
                            <td>
                                <input type="text" name="prod_Detail_creator" value="국내산" class="inputmini" id="prod_Detail_creator"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">제조국</td>
                            <td>
                                <input type="text" name="prod_Detail_country" value="국내산" class="inputmini" id="prod_Detail_country"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">취급시주의사항</td>
                            <td>
                                <input type="text" name="prod_Detail_warning" value="국내산" class="inputmini" id="prod_Detail_warning"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">제조연월</td>
                            <td>
                                <input type="text" name="prod_Detail_create_date" value="국내산" class="inputmini" id="prod_Detail_create_date"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">품질보증기준</td>
                            <td>
                                <input type="text" name="prod_Detail_quality" value="국내산" class="inputmini" id="prod_Detail_quality"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">A/S 책임자</td>
                            <td>
                                <input type="text" name="prod_Detail_as" value="국내산" class="inputmini" id="prod_Detail_as"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">전화번호</td>
                            <td>
                                <input type="text" name="prod_Detail_asPhone" value="국내산" class="inputmini" id="prod_Detail_asPhone"/>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="desc">
                    <p class="sub-title-desc">전자상거래등에서의 상품 등의 정보제공에 관한 고시에 따라 총 35개 상품군에 대해 상품 특성들을 양식에 따라 입력할 수
                        있습니다.</p>
                </div>
                <div class="buttons">
                    <button type="submit" class="write-btn" id="product_submit">등록</button>
                </div>
                <!-- /form -->
            </div>
        </section>
        <!-- /Section -->
    </div>
</main>
<footer th:replace="~{/admin/include/footer.html}"></footer>
</body>
</html>
