<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항 목록</title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/cs/cs_common.css}" />
  </head>
  <body>
  <header th:replace="~{/include/my_header.html}"></header>
  <div id="wrapper">
    <th:block th:replace="~{/cs/aside/aside_qna.html}"></th:block>
    <section id="section_wrapper">
    <div id="titleAndTable">
      <div id="category">
        <p>회원<br><span class="subtitle">회원 관련 문의 내용입니다.</span></p>
        <div class="breadcrumb">
          <a href="#">Home</a> > <a href="#" class="location">공지사항</a>
        </div>
      </div>
      <table>
        <!-- th:each -->
        <tr class="qna">
          <td><a href="#">[안내] 해외결제사칭 문자주의</a></td>
          <td class="status_ing">검토중</td>
          <!-- 답변완료 = class="status_finished" -->
          <td>chh**</td>
          <td>00.00.00</td>
        </tr>
        <tr class="qna">
          <td><a href="#">[안내] 해외결제사칭 문자주의</a></td>
          <td class="status_ing">검토중</td>
          <td>chh**</td>
          <td>00.00.00</td>
        </tr>
      </table>
      <button id="btnQNA">문의하기</button>
    </div>
      <div>이전 1 2 3 4 5 다음<!-- paging 처리 들어갈 자리 --></div>
    </section>
  </div>
  <footer th:replace="~{/include/footer.html}"></footer>
  </body>
</html>
