<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>문의사항 작성</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/cs/qna_write.css}" />
  </head>
  <body>
  <header th:replace="~{/include/my_header.html}"></header>
  <div id="wrapper">
    <th:block th:replace="~{/cs/aside/aside_faq.html}"></th:block>
  <section id="section_wrapper">
    <div id="category">
      <p>회원<br><span class="subtitle">회원 관련 문의 내용입니다.</span></p> <!-- 좌측의 회원 부분 2개는 해당 카테고리가 출력되도록 구현. th:if cate1==1 회원 이런 식? -->
      <div class="breadcrumb">
        <a th:href="@{/cs/index}">Home</a> > <a th:href="@{/cs/qna/list}">문의하기</a> > <a th:href="@{/cs/qna/list}" class="location">회원</a>
      </div>
    </div>
      <table>
        <tr>
          <td>문의유형</td>
          <td>
            <select name="category1" id="category1">
              <option disabled hidden selected>1차 유형</option>
              <option th:value="1">1</option>
              <option th:value="2">2</option>
            </select>
            <select name="category2" id="category2">
              <option disabled hidden selected>2차 유형</option>
              <option th:value="1">1</option>
              <option th:value="2">2</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>제목</td>
          <td><textarea name="title" id="writeTitle" placeholder="제목을 입력합니다."></textarea></td>
        </tr>
        <tr>
          <td>내용</td>
          <td><textarea name="content" id="writeContent" placeholder="내용을 입력합니다."></textarea></td>
        </tr>
      </table>
      <div>
        <a th:href="@{/cs/qna/list}"><button id="btnCancel">취소하기</button></a>
        <button id="btnSubmit">등록하기</button>
      </div>
    </section>
  </div>
  <footer th:replace="~{/include/footer.html}"></footer>
  </body>
</html>
